/*
Typography is the way that text is arranged and presented
*/
body{
    padding: 10px;
    font-size: 2rem;
    color: rgb(116, 114, 116);
}
/* input,button{
    font: inherit;
} */
p{
    line-height: 1.25;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* text-align: justify;
    word-s/* pacing: .01em;
    letter-spacing: ; */ 
    font-weight: lighter;
}
